html { background: #fff; }
body { font-family: serif; }
div { margin: 0; padding: 0; border: 0; }

#first {
  text-align: left;
}

#q > div { margin: 2px 0; }
#q label {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  white-space: nowrap;
}
label > * {
  vertical-align: middle;
}
input[name="L"] {
  text-align: right;
  margin: 0 5px;
}
input[name="edges"] {
  text-align: left;
}

#loading {
  vertical-align: middle;
  display: none;
}
#time, #data_lumi {
  margin-left: 4px;
  font-size: small;
  color: #999;
  white-space: nowrap;
}

#t {
  margin: 5px 0;
  border-collapse: collapse;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  cursor: text;
  transform-origin: top left;
}
#t > tr:nth-child(2) { border-bottom: 1px solid #000; }
#t > tr:nth-child(-n+2) > td { text-align: center; }
#t > tr:nth-child(n+3):hover { background-color: #eee; }
#t td {
  padding: 0.1em 0.25em;
  white-space: nowrap;
}
#t td:nth-child(1) { text-align: left; }
#t td:nth-child(n+2) { text-align: right; }
